body {
    border: 10px solid red;
    font-size: 16px;
    max-width: 1024px;
    margin: 0 auto;
}

header nav ul {
    text-align: center;
}

header nav ul li {
    background: blue;
    color: white;
    border: 1px solid blue;
    display: inline-block;
    margin-right: 20px;
    padding: 16px 26px;
}

header nav ul li:hover{
    background: white;
     color: blue;
}
